.block-type-banner-slideshow .field-name-field-overlay-text {
  margin-top: -5em;
  font-size: 2em;
  padding: 1em;
}

.block-type-banner-slideshow .flexslider {
  border: none;
}

.block-type-banner-slideshow .flex-direction-nav a {
  height: 50px;
}
